<h1>WordAssoc - Find word associations in a text database</h1>
<p>Welcome to WordAssoc. If you have not yet uploaded texts to the book database please choose the "Manage Book Database" option below.</p>

<%= link_to 'Manage Book Database', books_path %>
<br><%= link_to 'Query Word Associations', words_path %>

